.container {
    background-color: #fef9ef;
    padding: 32px;
    margin: auto;
    text-align: center;
    border-radius: 10px 100px / 120px;
    border: solid;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container-text {
    font-size: x-large;
}