.title-con, 
.main-body {
    background-color: #fef9ef;
    padding: 32px;
    text-align: center;
    border: solid;
    width: 1000px;
}

.title-con {
    border-radius: 0px 100px / 120px;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Courier New', Courier, monospace;

    border-radius: 15px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.ach-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 12px;
    border: 1pt solid;
    border-radius: 10pt;
}

a {
    text-decoration: none;
}