.title-con, 
.main-body {
    background-color: #fef9ef;
    padding: 32px;
    text-align: center;
    border: solid;
    width: 800px;
}

.title-con {
    border-radius: 0px 100px / 120px;
    font-size: x-large;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-body {
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.grp-list a {
    text-decoration: none;
}



